<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <title>Document</title>
</head>

<body class ="bg-light">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <h3 class="float-md-start mb-0">WrkFloOS</h3>
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/logout">Logout</a>
        </nav>
      </div>
    </header>
    </div>


  <div class="container">
    <div class="row">
      <h1> Welcome ${username}!</h1>
    </div>
  
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lead List</h5>
        <p class="card-text">Start texting your potential customers!</p>
        <a href="/leadform" class="btn btn-primary">Add another lead</a>
        <ul class="list-group list-group-flush">
          ${leads.map(lead => {
            return  `<li class="list-group-item"> ${lead.firstName} ${lead.lastName}</li>`
          }).join("")}
        </ul>
        
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Text lead</h5>
        <form id="sms-form">
          <div class="mb-3">
            <label for="exampleInputSms" class="sms-form">body</label>
            <input type="text" class="form-control" id="exampleInputBody" name="sms">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/sms.js"></script>
</body>
</html>